//Root 

:root {

  //Default colors
  --theme-color-light: #ffffff;
  --theme-color-dark:  #27272F;
  --theme-color-gray:  #F6F6F6;
  
  //theme colors
  --theme-color1: #C9F31D;
  --theme-color2: #a0c506;
  --reivew-color: #ffc737;
  --bg-theme-color1: var(--theme-color1);
  --bg-theme-color2: var(--theme-color2);
  
  //text heading color
  --text-color:       #696E77;
  --headings-color:   #27272F;
  --link-color:         var(--headings-color);
  --link-hover-color:   var(--headings-color);


  //font family
  --text-font: 'DM Sans', sans-serif ;
  --title-font: 'Arimo', sans-serif ;

  //body
  --body-font-size:   16px;
  --body-line-height: 1.87em;
  --body-font-weight: 400;

  //heading font size + weight
  --line-height-heading-h1: 1em;
  --line-height-heading: 1.29em;
  --line-height-heading-small: 1.35em;

  --h1-font-size: 88px;
  --h2-font-size: 48px;
  --h3-font-size: 36px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 20px;

  --h1-font-weight: 700;
  --h2-font-weight: 700;
  --h3-font-weight: 700;
  --h4-font-weight: 600;
  --h5-font-weight: 700;
  --h6-font-weight: 700;

  //section sub title
  --sec-title-subtitle-font-size:   14px;
  --sec-title-subtitle-color:       var(--headings-color);
  --sec-title-subtitle-font-family: var(--text-font);
  --sec-title-subtitle-font-weight: 700;
  --sec-title-subtitle-line-height: 20px;

  //section title
  --sec-title-color:        var(--headings-color);
  --sec-title-font-size:    var(--h2-font-size);
  --sec-title-font-family:  var(--title-font);
  --sec-title-font-weight: var(--h2-font-weight);

  //news details page
  --theme-light-background: #F2F3F5;
  --theme-light-background-text-color: var(--headings-color);
  --theme-black:        #131313;


  //container
  --container-width: 1310px;
  --small-container-width: 1000px;
  --large-container-width: 1760px;
  --container-pt:    120px;
  --container-pb:    120px;
}
